.item-details-container {
  grid-row: 2 / span 2;
  grid-column: 2 / span 1;

  border: 1px solid black;
  padding: 7px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.item-image-box {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row: 1 / span 4;
  grid-column: 1 / span 1;
}

.item-image-box img {
  width: 300px;
}

.item-name-and-price {
  display: flex;
  flex-direction: column;

  grid-row: 1 / span 2;
  grid-column: 2 / span 1;

  text-align: left;
}

.item-details-price {
  text-align: right;
}

.item-details-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}

.add-item-to-cart-button:active {
  background-color: black;
  color: lightgray;
}

.add-to-cart-box {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.item-reviews-box {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
}

@media only screen and (max-width: 600px) {
  .item-details-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    gap: 10px;
  }

  .item-name-and-price {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  .item-image-box {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  .item-details-box {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  .add-to-cart-box {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }

  .item-reviews-box {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }
}
