.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  gap: 14px;
}

.home-categories-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 7px;
}

.seasonal-ad {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seasonal-ad img {
  width: 65%;
  margin-bottom: 50px;
}

.category-container {
  width: 150px;
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
}

.category-container img {
  width: 125px;
}

.category-container {
  text-align: center;
}

.justarrived-img-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.just-arrived {
  display: flex;
  margin-bottom: 30px;
  font-size: 25px;
  font-family: Helvetica;
  color: gray;
}

#justarrived-img {
  width: 200px;
  height: 250px;
  border-radius: 40px;
}

#justarrived-name {
  text-align: center;
}

.justarrived-link:hover {
  transform: scale(1.25);
  transition: 0.3s ease;
}
