.logo-name {
  position: absolute;
}

#logo-wrapper img {
  width: 150px;
}

.logo-name {
  position: absolute;
}

#logo-name-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.nav-categories {
  z-index: 500;
}
