/* .nav {
  height: 300px;
  width: 1400px;
  margin: 20px;
  padding: 20px;
  background: aqua;
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-grow: 2;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  flex-grow: 1;
}

#home-and-cart-links {
  display: flex;
  height: 75px;
  justify-content: right;
  background-color: greenyellow;
  flex-grow: 1;
}

#logo-name {
  display: flex;
  justify-content: ;
  height: 75px;
  background-color: blueviolet;
} */

/* #nav-bar {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.collapsible-nav {
  display: block;

  border: 1px solid black;
  width: 40vw;
  height: 50vw;

  transition: height 0.2s ease-in-out;

  z-index: 1000;
}

.collapsible-nav ul {
  display: flex;
  flex-direction: column;

  gap: 10px;

  list-style-type: none;
}

#button-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#home-and-cart-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.test-link {
  width: 40px;
} */
